body{
  font-family: Montserrat;
}

#title {
  background-color: #ff4c68;
    color: white;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family: Montserrat;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat', sans-serif;

}

p{
  color: #8f8f8f;
}

.container-fluid {
  padding: 2% 15% 5%;
}

/* Navigation Bar */

.navbar{
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 15% 0;
}

.image-positioning{
  position: relative;
}

.title-image{
  width: 21 %;
  height: 700px;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

#testimonials{
  text-align: center;

  background-color: #ef8172;
  color: white;
}
.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
  width: 15%;
  margin: 20px;
}

/* Pricing Section */

#pricing{
  padding:100px;
  text-align: center;
}
.pricing-column{
  padding:3% 2%;
}

@media (max-width: 1240px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}

/* Last Part! */
.last-part{
  font-size: 3rem;
  line-height: 1.5;
}
.last-buttons{
  margin: 5% 3% 5% 0;
}

#cta{
  background-color: #ff4c68;
    color: white;
    font-family: 'Montserrat', sans-serif;

    padding: 100px 15% 40px ;
    text-align: center;
}
#footer{
  padding: 50px 0;
  text-align: center;
}
.last-icons{
  margin: 0 15px;
}
@media (max-width: 1028px) {
 #cta {
    text-align: center;
  }
